
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header, footer, body {
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    text-decoration: underline;
}

.product {
    background-color: #E5D3B3; 
    border: 1px solid #000000; 
    border-radius: 15px; 
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000; 
}

.product h2 {
    margin-top: 0;
    font-size: 1.8rem;
}

.product p {
    font-size: 1.2rem;
    color: #000; 
    margin-bottom: 10px;
}

.product .price {
    font-size: 1.5rem;
    color: #000;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.product button {
    width: 65px;
    height: 35px;
}

.containers { color: #000;}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    h1 {
        font-size: 2rem;
    }

    nav ul li {
        margin-right: 10px;
    }

    .product {
        padding: 15px;
    }

    .product h2 {
        font-size: 1.5rem;
    }

    .product .price {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 480px) {
    nav ul li {
        display: block;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
    }

    .product {
        padding: 10px;
    }

    .product h2 {
        font-size: 1.3rem;
    }

    .product .price {
        font-size: 1.2rem;
    }

    footer {
        padding: 5px 0;
    }
}
